<div class='LWInput'>
  <label for='{{name}}' class='subtitle grey--text'>{{label}}</label>
  <input type='{{type}}' value='{{value}}' id='{{name}}' name='{{name}}' />
  <p class='subtitle error--text'>{{errorMessage}}</p>
</div>